h1 {
    font-family: "Instrument Serif", serif;
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

html, body {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #11002C;
    color: #7047B3;
}

.pol {
    font-family: "ZT Talk", monospace;
}

.center {
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.right {
    padding: 20px;
    align-items: center;
    justify-content: right;
    display: flex;
}

.icon {
    width: 50px;
}

footer {
    right: 0;
    margin: 0 1.25rem;
    display: flex;
    justify-content: right;
    position: absolute;
    width: 100%;
    bottom: 2.5rem;
    height: 2.5rem;            /* Footer height */
}